:root {
    --sidebar-clr: #262626;
    --project-clr: #1e1e1e;
    
    --font-clr: #fff;
    --grey-font-clr: #afafaf;
    --highlight-font-clr: #f16058;

    --highlight-bg-clr: #ae533774;
    --hover-bg-clr: #725e5043;

    --item-padding-block: 5px;
    --item-border-radius: 4px;
}

button {
    cursor: pointer;
}

nav.sidebar-panel {
    padding: 24px 16px;
}

.sidebar-panel > .first-row {
    display: flex;
    justify-content: space-between;

    margin-left: 6px;
    margin-bottom: 0.5rem;

    & > h1 {
        font-size: 2rem;
    }
}

button.sidebar-toggle {
    width: 40px;
    aspect-ratio: 1/1;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    display: block;
}

main button.sidebar-toggle.hidden {
    display: none;
}

nav.sidebar-panel > h2 {
    margin-top: 1rem;
    margin-left: 6px;
    font-size: 1.4rem;
}

.sidebar-panel ul {
    margin-top: 0.5rem;
    list-style: none;
    padding: 0;
}

.sidebar-panel li {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    border-radius: var(--item-border-radius);
    padding: 0px 5px;
    font-size: 1rem;

    &:hover {
        background-color: var(--hover-bg-clr);
    }

    &.current-project {
        background-color: var(--highlight-bg-clr);
        & button.project {
            color: var(--highlight-font-clr);
        }
    }
}

button.project,
button.task-filter {
    appearance: none;
    background-color: transparent;
    color: var(--font-clr);
    outline: none;
    border: none;

    text-align: left;
    margin-left: 1rem;
    padding: var(--item-padding-block) 1.4rem;
    
    position: relative;

    &:before {
        position: absolute;
        content: "";
        left: -11px;
        top: 5px;

        width: 1.4rem;
        height: 1.4rem;
        opacity: 0.7;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/*Icons for task-filters and user-projects*/
button.project:before {
    top: 7px;
    background-image: url(../images/user-project.svg);
}

button[data-project-title="All Tasks"]:before {
    background-image: url(../images/all-tasks.svg);
}

button[data-project-title="Today"]:before {
    background-image: url(../images/today.svg);
}

button[data-project-title="Overdue"]:before {
    background-image: url(../images/overdue.svg);
}

button.show-options-project {
    appearance: none;
    outline: none;
    border: none;

    background-color: transparent;
    color: var(--grey-font-clr);
    border-radius: 2px;
    font-size: 0.9rem;

    width: 24px;
    height: 24px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &:hover {
        background-color: #75757588;
        background-image: url(../images/other.svg);
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.options-box-project {
    position: absolute;
    top: -2px;
    left: 17px;
    background-color: rgba(131, 131, 131, 0.525);
    border-radius: 3px;
}

.options-box-project > button {
    outline: none;
    border: none;

    display: block;
    width: 70px;
    padding-block: 6px;

    background-color: transparent;
    color: var(--font-clr);
    font-size: 1rem;
    border-radius: 2px;

    &:hover {
        background-color: rgb(116, 105, 86);
    }
}

button.show-task-form {
    appearance: none;
    border: none;
    outline: none;
    background: none;

    width: 100%;
    border-radius: var(--item-border-radius);
    padding: var(--item-padding-block);
    display: flex;    
    align-items: center;
    gap: 6px;
    line-height: 1.3;
    color: var(--highlight-font-clr);
    font-size: 1.15rem;

    &:hover {
        background-color: var(--hover-bg-clr);
    }
}

.show-task-form::before {
    content: "";
    width: 1.8rem;
    aspect-ratio: 1/1;
    background-image: url(../images/add-task.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/*Add project field*/
.add-project-form {
    margin-top: 0.5rem;
    width: 100%;
    height: 2rem;
}

.add-project-form > div {
    display: grid;
    grid-template-columns: 215px 26px 32px;
    align-items: center;
    justify-content: space-between;
}

input#project-title,
button.add-project,
button.cancel-project {
    display: none;
}

button#show-project-input {
    border: none;
    background: none;
    color: var(--font-clr);

    width: 140px;
    text-align: center;
    padding: 0;
    margin-left: 6px;
    
    &:hover {
        color: var(--highlight-font-clr);
        border-bottom: 1px solid var(--highlight-font-clr);
    }
    
    display: flex;
    align-items: center;
    gap: 6px;

    & > span {
        font-size: 1.8rem;
        font-weight: bold;
        color: rgb(86, 156, 86);
        line-height: 1;
    }
}

input#project-title {
    border: 1px solid var(--grey-font-clr);
    outline: none;
    border-radius: var(--item-border-radius);
    background-color: #262626;
    padding: 2px 12px;
    margin-right: 6px;
    font-size: 1rem;
    color: var(--font-clr);

    &:focus {
        border: 2px solid var(--highlight-font-clr);
    }
}

button.add-project,
button.cancel-project {
    aspect-ratio: 1/1;
    padding: 0;
    background: none;
    outline: none;
    border: none;
    margin-right: 4px;
    border-radius: 50%;

    &:hover {
        box-shadow: 0 0 6px 5px #9d7d6643;
    }
}

button.add-project {
    background-image: url(../images/confirm.svg);
    background-position: center;
    background-size: contain;
}

button.cancel-project {
    background-image: url(../images/cancel.svg);
    background-position: center;
    background-size: contain;
}

button#reset-todos {
    appearance: none;
    border: 1px solid var(--grey-font-clr);
    padding: 4px 6px;
    background: none;
    outline: none;
    color: var(--font-clr);
    

    position: absolute;
    bottom: 50px;

    &:hover {
        color: var(--highlight-font-clr);
        border: 1px solid var(--highlight-font-clr);
    }
}

p.author {
    position: absolute;
    bottom: 26px;
    left: 25px;

    & a {
        border: none;
        text-decoration: none;
        cursor: pointer;
    }
    & a:visited {
        color: var(--highlight-bg-clr);
    }
    
}