:root {
    --sidebar-clr: #262626;
    --project-clr: #1e1e1e;
    
    --font-clr: #fff;
    --grey-font-clr: #afafaf;
    --highlight-font-clr: #f16058;

    --highlight-bg-clr: #ae533774;
    --hover-bg-clr: #725e5043;
}

nav.sidebar-panel {
    padding: 24px 16px;
}

.sidebar-panel ul {
    margin-top: 16px;
    list-style: none;
    padding: 0;
}

.sidebar-panel li {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    border-radius: 4px;
    padding: 0px 5px;
    font-size: 1rem;

    &:hover {
        background-color: var(--hover-bg-clr);
    }

    &.current-project {
        background-color: var(--highlight-bg-clr);
        & button.project {
            color: var(--highlight-font-clr);
        }
    }
}

button.project {
    appearance: none;
    background-color: transparent;
    color: var(--font-clr);
    outline: none;
    border: none;

    text-align: left;
    margin-left: 16px;
    padding: 4px 16px;
    
    position: relative;

    &:before {
        position: absolute;
        content: "";
        left: -11px;
        top: 7px;

        width: 18px;
        height: 18px;
        background-image: url(../images/user-project.svg);
        opacity: 0.7;
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

button.show-options-project {
    appearance: none;
    outline: none;
    border: none;

    background-color: transparent;
    color: var(--grey-font-clr);
    border-radius: 2px;
    font-size: 0.9rem;

    width: 24px;
    height: 24px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &:hover {
        background-color: #75757588;
        background-image: url(../images/other.svg);
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.options-box-project {
    position: absolute;
    top: -2px;
    left: 17px;
    background-color: rgba(131, 131, 131, 0.525);
    border-radius: 3px;
}

.options-box-project > button {
    outline: none;
    border: none;

    display: block;
    width: 70px;
    padding-block: 6px;

    background-color: transparent;
    color: var(--font-clr);
    font-size: 1rem;
    border-radius: 2px;

    &:hover {
        background-color: rgb(116, 105, 86);
    }
}