dialog.task-form-modal {
    margin: auto;
    padding: 0;
    border: 1px solid #4d4d4d2e;
    border-radius: 5px;
}

form.task-form {
    padding: 12px 20px;
    width: 300px;
    color: #ededed;
    background-color: #1e1e1e;
    font-size: 0.7rem;
}

.task-form input[type="text"] {
    width: 100%;
    background-color: transparent;
}

.task-form input,
.task-form select,
.task-form option {
    border: none;
    outline: none;
    color: #ededed;
    border-radius: 4px;
}

.multi-inputs {
    margin-top: 8px;
    display: flex;
    gap: 24px;
}

.task-form select,
input[type="date"] {
    background-color: #303030;
    height: 1.2rem;
    width: 105px;
    padding-left: 5px;
}

input#task-title {
    font-weight: 900;
    font-size: 1.2rem;
}

.task-form .form-row:last-of-type {
    margin-top: 16px;
    padding-top: 8px;
    border-top: 1px solid #ffffff95;

    display: flex;
    justify-content: space-between;
    gap: 8px;

    & select {
        margin-left: 0;
        margin-right: auto;
    }
}

.task-form button {
    border: none;
    outline: none;
    padding: 1px;
    width: 50px;
    height: 1.2rem;
    border-radius: 2px;
    color: #ffffff;

    &.cancel-task {
        background-color: rgb(71, 71, 71);
    }
    &.add-task {
        background-color: rgb(135, 50, 50);
    }
}
