:root {
    --title-font-size: 1.4rem;
    --noral-font-size: 1rem;
    --input-height: 2rem;
    --input-width: 150px;

    --sidebar-clr: #262626;
    --project-clr: #1e1e1e;
    --font-clr: #fff;
    --dropdown-clr: #303030;

    --task-width: 600px;
}

dialog.task-form-modal {
    padding: 0;
    border: none;
    width: 100%;
    height: 100vh;
    background: none;
}  

form.task-form,
form.task-editor {
    margin-inline: auto;
    margin-top: 10%;
    padding: 1.3rem 1.1rem;

    width: var(--task-width);
    color: var(--font-clr);
    background-color: var(--sidebar-clr);
    font-size: var(--noral-font-size);

    border: 1px solid #4d4d4d2e;
    border-radius: 5px;

    box-shadow: 0 0 3px 0px var(--grey-font-clr);
}

form.task-editor {
    display: block;
}

.task-form input[type="text"],
.task-editor input[type="text"] {
    width: 100%;
    background-color: transparent;
}

.task-form input,
.task-form select,
.task-form option,
.task-editor input,
.task-editor select,
.task-editor option {
    border: none;
    outline: none;
    color: #ededed;
    border-radius: 4px;
}

.task-form #task-description,
.task-editor #task-description-edit {
    color: var(--grey-font-clr);
}

.task-form .multi-inputs,
.task-editor .multi-inputs {
    margin-top: 1rem;
    display: flex;
    gap: 24px;
}

.task-form select,
.task-form input[type="date"],
.task-editor select,
.task-editor input[type="date"] {
    background-color: var(--dropdown-clr);
    height: var(--input-height);
    width: var(--input-width);
    padding-left: 0.6rem;
}

input#task-title,
input#task-title-edit {
    font-weight: 900;
    font-size: var(--title-font-size);
}

.task-form > .form-row:last-of-type,
.task-editor > .form-row:last-of-type {
    margin-top: 1.4rem;
    padding-top: 1rem;
    border-top: 1px solid var(--grey-font-clr);

    display: flex;
    justify-content: space-between;
    gap: 8px;

    & select {
        margin-left: 0;
        margin-right: auto;
    }
}

.task-form button,
.task-editor button {
    border: none;
    outline: none;
    width: 85px;
    height: var(--input-height);
    border-radius: 2px;
    color: #ffffff;

    line-height: 1;

    &.cancel-task {
        background-color: #474747;
    }
    &.add-task,
    &.save-task {
        background-color: #873232;
    }
}